In [3]:
import pandas as pd
import numpy as np

In [5]:
dataset = pd.read_csv('MKSFR-1-9-2024_30-9-2024.csv', sep=',')

In [7]:
dataset

       ReceiptNumber   ItemId
0     KSFR-100059307  A059912
1     KSFR-100059307  B120107
2     KSFR-100059307  C100612
3     KSFR-100059307  C130636
4     KSFR-100059307  D030509
...              ...      ...
8823  KSFR-400000216  G201901
8824  KSFR-400000216  G887159
8825  KSFR-400000217  C119902
8826  KSFR-400000217  c121983
8827  KSFR-400000218  C089911

[8828 rows x 2 columns]

In [9]:
df = pd.DataFrame(dataset)

In [11]:
df

       ReceiptNumber   ItemId
0     KSFR-100059307  A059912
1     KSFR-100059307  B120107
2     KSFR-100059307  C100612
3     KSFR-100059307  C130636
4     KSFR-100059307  D030509
...              ...      ...
8823  KSFR-400000216  G201901
8824  KSFR-400000216  G887159
8825  KSFR-400000217  C119902
8826  KSFR-400000217  c121983
8827  KSFR-400000218  C089911

[8828 rows x 2 columns]

In [13]:
df1 = df.groupby("ReceiptNumber")["ItemId"].agg(list).reset_index().fillna(0).set_index("ReceiptNumber")
df1

                                                           ItemId
ReceiptNumber
KSFR-100059307  [A059912, B120107, C100612, C130636, D030509, ...
KSFR-100059308                                 [G326797, G887190]
KSFR-100059309                                          [G312086]
KSFR-100059310               [G263384, G312086, G326797, G326810]
KSFR-100059311                                          [G263384]
...                                                           ...
KSFR-400000214                        [c121950, D030513, E105131]
KSFR-400000215      [C070608, C119902, c121950, G252848, G886931]
KSFR-400000216               [C089908, c119903, G201901, G887159]
KSFR-400000217                                 [C119902, c121983]
KSFR-400000218                                          [C089911]

[2526 rows x 1 columns]

        Mlxtend section

In [15]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (1.11.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\ahmed.ismail\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [17]:
from mlxtend.preprocessing import TransactionEncoder

In [19]:
te = TransactionEncoder()
te_ary = te.fit(df1["ItemId"]).transform(df1["ItemId"])
df2 = pd.DataFrame(te_ary, columns=te.columns_)
df2

,A019901,A022009,A022010,A030401,A030404,A040713,A042008,A042012,A043011,A052023,...,c149936,c149937,c149938,c149939,e192735,g263301,g322780,g332711,g886925,g886927
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2521,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2522,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2523,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2524,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2525,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

        Apriori section

In [37]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets = apriori(df2, min_support= 0.02, use_colnames=True)

In [39]:
frequent_itemsets

     support            itemsets
0   0.041172           (A062001)
1   0.028899           (A114609)
2   0.029691           (A121110)
3   0.021378           (B049905)
4   0.029691           (B074615)
5   0.021378           (B094705)
6   0.021774           (B105107)
7   0.037609           (B115102)
8   0.031275           (B119905)
9   0.020982           (B120107)
10  0.022169           (B175109)
11  0.029691           (B175112)
12  0.020586           (B179903)
13  0.036025           (C013404)
14  0.045527           (C022703)
15  0.039588           (C070606)
16  0.067300           (C070608)
17  0.046318           (C089908)
18  0.025732           (C100612)
19  0.068092           (C100613)
20  0.024941           (C100644)
21  0.111639           (C119902)
22  0.085511           (C121921)
23  0.028108           (C130605)
24  0.025732           (C130635)
25  0.020190           (C130636)
26  0.026524           (C145107)
27  0.060174           (C149909)
28  0.045131           (C149910)
29  0.056611           (D019912)
30  0.020190           (D019917)
31  0.046318           (D019918)
32  0.043943           (D019953)
33  0.022961           (D030513)
34  0.022565           (E100345)
35  0.098971           (G022712)
36  0.030879           (G022715)
37  0.028899           (G202712)
38  0.051861           (G202714)
39  0.032858           (G252848)
40  0.033254           (G263142)
41  0.098179           (G312086)
42  0.031671          (G312780.)
43  0.053444           (G886931)
44  0.020586           (G887148)
45  0.030483           (c119904)
46  0.074030           (c121950)
47  0.020586           (c149935)
48  0.020982           (c149936)
49  0.021774  (C070606, C070608)
50  0.020586  (C149909, C100613)
51  0.026524  (C149910, C100613)
52  0.020982  (G022712, G312086)

In [43]:
frequent_itemsets.to_csv('result-freq-9-2024(3).csv', index=False)

In [45]:
from mlxtend.frequent_patterns import association_rules
result = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.02)
result[['antecedents','consequents','support','confidence','lift']]

  antecedents consequents   support  confidence      lift
0   (C070606)   (C070608)  0.021774    0.550000  8.172353
1   (C070608)   (C070606)  0.021774    0.323529  8.172353
2   (C149909)   (C100613)  0.020586    0.342105  5.024174
3   (C100613)   (C149909)  0.020586    0.302326  5.024174
4   (C149910)   (C100613)  0.026524    0.587719  8.631273
5   (C100613)   (C149910)  0.026524    0.389535  8.631273
6   (G022712)   (G312086)  0.020982    0.212000  2.159323
7   (G312086)   (G022712)  0.020982    0.213710  2.159323

In [47]:
res.to_csv('result-9-2024(2).csv', index=False)

        FP-growth section

In [47]:
from mlxtend.frequent_patterns import fpgrowth

In [55]:
frequent_itemsets2 = fpgrowth(df2, min_support= 0.02, use_colnames=True)
frequent_itemsets2

     support            itemsets
0   0.098971           (G022712)
1   0.030879           (G022715)
2   0.025732           (C100612)
3   0.022961           (D030513)
4   0.020982           (B120107)
5   0.020190           (C130636)
6   0.098179           (G312086)
7   0.043943           (D019953)
8   0.051861           (G202714)
9   0.111639           (C119902)
10  0.045527           (C022703)
11  0.032858           (G252848)
12  0.067300           (C070608)
13  0.028108           (C130605)
14  0.022169           (B175109)
15  0.060174           (C149909)
16  0.046318           (D019918)
17  0.039588           (C070606)
18  0.024941           (C100644)
19  0.020586           (B179903)
20  0.020190           (D019917)
21  0.045131           (C149910)
22  0.030483           (c119904)
23  0.020586           (c149935)
24  0.033254           (G263142)
25  0.046318           (C089908)
26  0.037609           (B115102)
27  0.036025           (C013404)
28  0.074030           (c121950)
29  0.053444           (G886931)
30  0.028899           (A114609)
31  0.041172           (A062001)
32  0.021378           (B094705)
33  0.021774           (B105107)
34  0.068092           (C100613)
35  0.022565           (E100345)
36  0.029691           (B074615)
37  0.021378           (B049905)
38  0.085511           (C121921)
39  0.029691           (A121110)
40  0.056611           (D019912)
41  0.025732           (C130635)
42  0.020982           (c149936)
43  0.020586           (G887148)
44  0.028899           (G202712)
45  0.031275           (B119905)
46  0.031671          (G312780.)
47  0.026524           (C145107)
48  0.029691           (B175112)
49  0.020982  (G022712, G312086)
50  0.020586  (C149909, C100613)
51  0.021774  (C070606, C070608)
52  0.026524  (C149910, C100613)

In [57]:
result2 = association_rules(frequent_itemsets2, metric="confidence", min_threshold=0.02)
result2[['antecedents','consequents','support','confidence','lift']]

  antecedents consequents   support  confidence      lift
0   (G022712)   (G312086)  0.020982    0.212000  2.159323
1   (G312086)   (G022712)  0.020982    0.213710  2.159323
2   (C149909)   (C100613)  0.020586    0.342105  5.024174
3   (C100613)   (C149909)  0.020586    0.302326  5.024174
4   (C070606)   (C070608)  0.021774    0.550000  8.172353
5   (C070608)   (C070606)  0.021774    0.323529  8.172353
6   (C149910)   (C100613)  0.026524    0.587719  8.631273
7   (C100613)   (C149910)  0.026524    0.389535  8.631273

        Performance Evaluation

In [51]:
%timeit apriori(df2, min_support=0.02)

65.8 ms ± 10.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [53]:
%timeit fpgrowth(df2, min_support=0.02)

69.2 ms ± 7.29 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)